/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fcfcfc; /* 밝은 파란색으로 배경 변경 */
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px; /* 패딩 조정 */
}

/* 네비게이션 바 */
nav ul {
    list-style: none;
    background-color: #f3f7f9; /* 밝은 파란색으로 변경 */
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #cccccc;
}

header img.logo {
    height: 70px;
    margin-left: 230px;
    margin-right: 400px;
}

header div {
    display: flex;
    align-items: center;
    margin-right: 200px;
}


header div input {
    width: auto;
    height: auto;
}

header div button {
    border: none; /* 경계선 제거 */
    background: none; /* 배경색 제거 */
    padding: 0; /* 내부 여백 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */

}
div a img{
    border-radius: 50%;
}
header div button:focus {
    outline: none;
}

header div button:hover {
    cursor: pointer;
    opacity: 0.8;
}

header img.searchBtn {
    width: 60%;
    height: 60%;
    display: block; /* 이미지를 블록 요소로 만들어 주변 여백 제거 */
    border-radius: 50%;
}

nav ul {
    list-style: none;
    background-color: #f3f7f9;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 30px 20px;
    display: inline-block;
}
#home1 {
    background-color: #f5f5f5;
}
#clubs {
    /* id 선택자를 사용하여 #clubs 요소 스타일링 */
    background-color: #fcfcfc;
    padding: 20px;

}
section a {
    text-decoration: none;
    color:#333;
}
/* 섹션 타이틀 */
.section h1, .section h2 {
    color: #0056b3; /* 어두운 파란색으로 글씨 색상 변경 */
    text-align: center;
    margin: 20px 0; /* 여백 수정 */
}

/* 종목 선택 카드 */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #b8daff; /* 테두리 색상 변경 */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px; /* 패딩 조정 */
    text-align: center;
}

.card-footer {
    text-align: center;
    background: #f4f4f4; /* 배경색 변경 */
    border-top: 1px solid #ddd; /* 상단 테두리 추가 */
    padding: 15px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* 고객센터 문의하기 폼 스타일 */
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #eeeeee; /* 버튼 색상 변경 */
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ececec;
}

/* 푸터 */
footer {
    text-align: center;
    padding: 20px;
    background-color: #303030; /* 어두운 파란색으로 변경 */
    color: white;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: rgb(241, 240, 240);
}

.admin-btn{
    display: block;
    text-align: center;
}

/* customer 이미지 크기 설정 */
.customer, .login {
    width: 40px; /* 원하는 너비 값 */
    height: 40px; /* 원하는 높이 값 */
    border-radius: 50%;
}

.customer {
    margin-right: 15px; /* 오른쪽 마진 추가 */
}