* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; /* 상자 모델 설정 */
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-wrapper {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* 가입하기 박스를 아래로 이동 */
}

.signup-wrapper > h2 {
    font-size: 32px;
    color: #466ADB;
    margin-bottom: 30px;
}

#signup-form > input,
#signup-form > select {
    width: calc(100% - 20px);
    height: 48px;
    padding: 0 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

#signup-form > input::placeholder,
#signup-form > select {
    color: #999;
}

#signup-form > input[type="submit"] {
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 18px;
    background-color: #466ADB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signup-form > input[type="submit"]:hover {
    background-color: #466ADB;
}

.checkbox-wrapper {
    text-align: left;
    margin-bottom: 16px;
    position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label {
    color: #666;
    cursor: pointer;
    padding-left: 30px;
    display: inline-block;
    margin-bottom: 16px;
}

.checkbox-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#realRemember:checked + .checkbox-icon {
    background-image: url("checkbox-active.png");
}

.email-wrapper {
    margin-bottom: 60px; /* 이메일 부분과 가입하기 버튼 사이의 여백 */
}