@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    padding-bottom: 100px; /* 푸터의 높이만큼 body 요소의 하단에 여백을 추가합니다. */
    position: relative;
    min-height: 100vh; /* 화면의 높이가 푸터가 보이도록 최소한 화면 높이를 설정합니다. */
    font-family: 'Roboto', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* 원하는 푸터의 높이로 설정합니다. */
}
select.form-control {
    width: auto; /* 자동으로 너비 조정되도록 설정 */
    display: inline-block; /* 인라인 블록 요소로 표시되도록 설정 */
    width: auto; /* 너비를 내용에 맞게 자동 조정 */
    max-width: 150px; /* 최대 너비 설정 */
}
.search-bar input[type="text"] {
    width: 350px; /* 검색창의 너비를 300px로 조정합니다. */

}
.icon-container {
    font-size: 2em; /* 아이콘 컨테이너의 크기를 2배로 키웁니다. */
}

.option-btn.active {
    background-color: #007bff;
    color: white;
}
.container-section{
    margin-bottom: 15px;
    margin-left: 11%;


}
.container-section select.form-control {
    border-color: black; /* 테두리 색상을 검은색으로 설정합니다. */
    margin-right: 5px;

}
.container-section .option-btn {
    border-color: black; /* 버튼의 테두리 색상을 검은색으로 설정합니다. */
    margin-top: -5px;
    border: 1px solid #ced4da;
    background-color: white;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    border-radius: 20px; /* 버튼에 둥근 테두리를 추가합니다. */
}
.container-section-match {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 섹션 내의 요소들 사이의 간격 설정 */
    padding: 0 20px; /* 좌우 여백 추가 */

}
.bordered-btn {
    border: 2px solid #9f9f9f; /* 원하는 색상과 두께로 변경 가능 */
    border-radius: 5px; /* 둥근 테두리를 원하지 않으면 제거 가능 */
}
.form-control{
    border-radius: 20px;
}
/* 추가된 스타일 */
.team-match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: calc(100% - 20%); /* 좌우 패딩을 고려한 가로 길이 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}
.bordered-btn {
    border: 2px solid #9f9f9f; /* 원하는 색상과 두께로 변경 가능 */
    border-radius: 5px; /* 둥근 테두리를 원하지 않으면 제거 가능 */
}
.team-match h3 {
    margin-bottom: 10px;
}
.team-match .match-details {
    margin-bottom: 10px;
}
.condition-tag {
    display: inline-block;
    background-color: white;
    border: 1.5px solid #000000;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 40px;
    font-size: 1.2em;

}
/* 추가한 스타일 */
.create-match-btn {
    border-radius: 50%;
    width: 90px;
    height: 40px;
    float:  right;
    position: relative;
    right: 12%;
    top: 18%;
    transform: translateY(-50%);
    z-index: 999;
    margin-top: -20px;
    margin-right: 150px;

}

.create-match-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* 초기에는 숨겨둠 */
}
/* 폼 요소들의 스타일 */
.create-match-popup form div {
    margin-bottom: 20px; /* 각 요소 사이의 간격 조정 */
}

.create-match-popup form input {
    width: calc(100% - 20px); /* 입력 요소의 너비 조정 */
    padding: 5px;
    box-sizing: border-box;

}
.create-match-popup .select-option{
    display: flex;

}
.create-match-popup .select-option select {
    margin-right: 20px; /* 각 셀렉트 박스 사이의 간격 조정 */
}

.create-match-popup .option-btn2{

    margin-bottom: 20px;
}
.create-match-popup .option-btn{

    margin-top: 20px;
}

nav a.current-page {
    font-weight: bold;
    text-decoration: none;
}

#datepicker {
    width: 100px; /* 원하는 가로 길이(px)로 조정하세요 */
    margin-right: 5px;

}
.form-element{
    display: flex;
    margin-top: 10px;
}

